.customer-container {
 padding: 15px;
 display: flex;
 flex-direction: row;
}
.customer-container-col {
    padding-left: 20%;
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
.customer-container-col-element {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.switch-view-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
}