<div *ngIf="customer | async; let customer">
<div class="switch-view-container">
    <button (click)="isEditable=false">View</button>
    <button (click)="isEditable=true">Edit</button>
</div>
<div class="customer-container" *ngIf="!isEditable" >
    <div class="customer-container-col">
        <div class="customer-container-col-element">
                <h4>First Name: </h4>
                <p>{{ customer.firstName }}</p>    
        </div>
        <div class="customer-container-col-element">
                <h4>Last Name: </h4>
                <p>{{ customer.lastName }}</p>    
        </div>
        <div class="customer-container-col-element">
                <h4>Email: </h4>
                <p>{{ customer.email }}</p>    
        </div>
    </div>
    <div class="customer-container-col">
            <div class="customer-container-col-element">
                    <h4>City: </h4>
                    <p>{{ customer.city }}</p>    
            </div>
            <div class="customer-container-col-element">
                    <h4>Street: </h4>
                    <p>{{ customer.street }}</p>    
            </div>
            <div class="customer-container-col-element">
                    <h4>Postal Code: </h4>
                    <p>{{ customer.postalCode }}</p>    
            </div>
    </div>

</div>
<div class="customer-container" *ngIf="isEditable">
        <div class="customer-container-col">
            <div class="customer-container-col-element">
                    <h4>First Name: </h4>
                    <input type="text" [value]="customer.firstName">   
            </div>
            <div class="customer-container-col-element">
                    <h4>Last Name: </h4>
                    <input type="text" [value]="customer.lastName">    
            </div>
            <div class="customer-container-col-element">
                    <h4>Email: </h4>
                    <input type="text" [value]="customer.email">   
            </div>
        </div>
        <div class="customer-container-col">
                <div class="customer-container-col-element">
                        <h4>City: </h4>
                        <input type="text" [value]="customer.city">    
                </div>
                <div class="customer-container-col-element">
                        <h4>Street: </h4>
                        <input type="text" [value]="customer.street">   
                </div>
                <div class="customer-container-col-element">
                        <h4>Postal Code: </h4>
                        <input type="text" [value]="customer.postalCode">  
                </div>
        </div>
    
    </div>
</div>