<div>
    <div *ngFor="let customer of customers" >
        <div class="row-item">
            <h2>{{ customer.lastName }}</h2>
            <h4>{{ customer.firstName }}</h4>
            <div>
                <button (click)="customer.detailEnabled = !customer.detailEnabled">Details</button>
                <button (click)="OnDelete(customer)">Delete</button>
            </div>
        </div>    
        <app-customer *ngIf="customer.detailEnabled" [id]="customer.id"></app-customer>
    </div>
</div>