.row-item{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    border: 1px solid;
}
h2, h4 {
    margin: 0;
}
.row-item > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}